<div class="container">
	 <div class="row">
       <div class="col-md-3">
         <h2>ジャンル検索欄</h2>
       </div>
	   <div class="col-md-9">
	   	 <div class="products box">
	 	<h2>商品一覧</h2>
	 	 <% @products.each do |f| %>
	 		<tr>商品画像<p><%= link_to product_path(product.id) do %>
	 			<%= f.attachment_image_tag @product, :image, :fill, 100, 100, format: 'jpeg' %>
	 			<% end %>
	    	</p></tr>
	 		<tr>商品名<span><%= link_to product.name, product_path(product.id) %></span>
	 		</tr>
	    	<tr>値段<span><%= product.price %></span>
	    	</tr>
	 	</div>
        </div>
     <% end %>
     </div>
</div>