<div class="container">
	 <div class="row">
	 	<h2>商品一覧</h2>
	 	 <% @products.each do |product| %>
	 	<div class="col-sm-2 col-md-offset-3">
	 		<tr>商品画像<p><%= link_to product_path(product.id) do %>
	 			<%= f.attachment_image_tag @product, :image, :fill, 60, 60, format: 'jpeg' %>
	 			<% end %>
	    	</p></tr>
	 		<tr>商品名<span><%= link_to product.name, product_path(product.id) %></span>
	 		</tr>
	    	<tr>値段<span><%= product.price %></span>
	    	</tr>
	 	</div>
	    <div class="col-sm-2">
	    	<tr>商品名</tr>
	    	<tr>値段</tr>
	    </div>
        <div class="col-sm-2">
        	<tr>商品名</tr>
	    	<tr>値段</tr>
        </div>
        <div class="col-sm-2">
        	<tr>商品名</tr>
	    	<tr>値段</tr>
        </div>
        <div class="col-md-1"></div>
     </div>

     <div class="row">
	 	<div class="col-sm-2 col-md-offset-2">
	 		<tr>商品名</tr>
	    	<tr>値段</tr>
	 	</div>
	    <div class="col-sm-2">
	    	<tr>商品名</tr>
	    	<tr>値段</tr>
	    </div>
        <div class="col-sm-2">
        	<tr>商品名</tr>
	    	<tr>値段</tr>
        </div>
        <div class="col-sm-2">
        	<tr>商品名</tr>
	    	<tr>値段</tr>
        </div>
        <div class="col-md-1"></div>
     </div>
     <% end %>
</div>